* text=auto

/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.phpunit.cache export-ignore
/tests export-ignore
/phpunit.xml export-ignore
/.editorconfig export-ignore
/coverage export-ignore
/.pest export-ignore
